/* custom CSS stylesheet for reliable commitment mgr */
/* colors from MS Office Median color scheme: 

		accent 1 / ice blue		rgb(148, 182, 210)		accordion header
		accent 2 / orange		rgb(221, 128, 71)		overdue commitments 2 weeks+
		accent 3 / olive 4		rgb(165, 171, 129)		accordion header
		accent 3 / olive 3		rgb(200, 204, 179)   	
		accent 4 / gold			rgb(216, 178, 92)		overdue commitments 1 week
		accent 5 / green		rgb(123, 167, 157)		accordion header
		accent 6 / grey 50%		rgb(150, 140, 140)
		background / dark 2		rgb(119, 95, 85)
		background / light 2	rgb(235, 221, 195)		row hover
		dark red				rgb(192, 0, 0)			delete icon
		light grey				rgb(228, 228, 228)		
		med grey				rgb(217, 217, 217)		commitments due next week
		dark med grey			rgb(190, 190, 190)		table header
*/
@media screen and (min-device-width:481px) {
	h2, .h2 {font-size: 18px;}
	h3, .h3 {font-size: 14px; margin: 2 0;}
	h4, .h4 {font-size: 12px;}
	h5, .h5 {font-size: 11px;}
}

@media screen and (max-device-width:480px) {
	h2, .h2 {font-size: 16px;}
	h3, .h3 {font-size: 12px; margin: 2 0;}
	h4, .h4 {font-size: 10px;}
	h5, .h5 {font-size: 9px;}
}

.navbar-right,
.navbar-nav.navbar-right:last-child {  /* for aligning header text */ 
padding-right: 0px;
margin-right: 0px;
}
 
.navbar-collapse {  /* for aligning footer text */
margin-left: 8px;
margin-right: 8px;
padding-right: 0px;
padding-left: 0px;
}

.navbar-text {  /* for aligning footer text */
margin-left: 0px;
}

.navbar-form {
margin-top: 0;
margin-bottom: 0;
}

.nopadding {
	padding-left: 1px;
	padding-right: 1px;
}

.login {
	max-width: 15em;
}

.priority-h { 
	font-weight: bold;
}

.closed {
	color: rgb(192, 192, 192);
	font-weight: normal;
	background-color: none;
}

@media screen and (min-device-width:481px) {
	#commitments,
	#requests,
	#projects {
		margin-bottom: 2px; 
		margin-top: 2px;
		border-collapse: collapse; 
		width: 100%;
		font-size: 12px;
	}
	
	.container-fluid { /* was 2.5% */
		margin-left: 1%;
		margin-right: 1%;
	}
	
	.navbar-form .checkbox input[type=checkbox] {
		margin-left: 16;
	}
}

@media screen and (max-device-width:480px) {
	#commitments,
	#requests,
	#projects {
		margin-bottom: 2px; 
		margin-top: 2px; 
		border-collapse: collapse; 
		width: 100%;
		font-size: 10px;
	}
	.spacer {
		display: none;
	}
	
	.navbar-form .checkbox input[type=checkbox] {
		margin-left: 0;
	}
}

#commitments th,
#requests th,
#projects th { /*table header*/
	background: white;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 4px;
	padding-bottom: 0px;
	white-space: nowrap; 
	border-bottom: 2px solid rgb(192,192,192);
}

#commitments td,
#requests td,
#projects td {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 1px;
	padding-left: 1px;
	line-height: normal;
	border-bottom: 1px solid rgb(192,192,192);
	border-bottom: 1px solid rgb(192,192,192);
}

tbody tr.overdue_2w:hover {
	background-color: rgba(221, 128, 71, .25);
}

tbody tr.overdue_1w:hover {
	background-color: rgba(216, 178, 92, .2);
}

tbody tr.due_nextweek:hover {
	background-color: rgba(228, 228, 228, .5);
}

tbody tr.due_future:hover {
	background-color: rgba(228, 228, 228, .5);
}

#commitments tr:hover,
#requests tr:hover,
#projects tr:hover {
	background-color: rgba(228, 228, 228, .5);
}

.overdue_2w {/* for table rows > 2 weeks overdue */
	background-color: rgba(221, 128, 71, .45);
}

.overdue_1w {/* for table rows < 2 weeks overdue */
	background-color: rgba(216, 178, 92, .4);
}

.due_nextweek {/* for table rows due next week */
	background-color: rgb(228, 228, 228);
}

.due_future {
}

td:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;	
	outline: rgb(91, 157, 217) auto 5px;
}

th a { /*column headers*/
	color: black;
}

a:hover {
	text-decoration: underline;
}

img {
	border: 0;
} 

th.editablegrid-unique_id,
td.editablegrid-unique_id {
	display: none;
}

td.editablegrid-project_number a {
color: #337ab7;
}

@media screen and (min-device-width:481px) {
	th.editablegrid-project_number,
	td.editablegrid-project_number {
		text-align: left;
		min-width: 7em;
	}
	
	th.editablegrid-project_shortname,
	td.editablegrid-project_shortname {
		text-align: left;
		min-width: 9em;
	}

	th.editablegrid-task_id,
	td.editablegrid-task_id {
		text-align: left;
		min-width: 6em;
	}

	th.editablegrid-description,
	td.editablegrid-description {
		text-align: left;
		min-width: 16em;
	}

	th.editablegrid-description-wide,
	td.editablegrid-description-wide {
		text-align: left;
		min-width: 20em;
	}

	th.editablegrid-promiser,
	td.editablegrid-promiser {
		text-align: center;
		min-width: 10em;
	}

	th.editablegrid-requester,
	td.editablegrid-requester {
		text-align: center;
		min-width: 10em;
	}

	th.editablegrid-due_by,
	td.editablegrid-due_by {
		text-align: center;
		min-width: 6em;
	}
	
	th.editablegrid-priority_h,
	td.editablegrid-priority_h {
		text-align: center;
		min-width: 3em;
	}

	th.editablegrid-status,
	td.editablegrid-status {
		text-align: center;
		min-width: 3em;
	}

	th.editablegrid-actions,
	td.editablegrid-actions {
		text-align: right;
		min-width: 3em;
	}

	th.editablegrid-project_number_2,
	td.editablegrid-project_number_2  { /* for project lists */
		text-align: left;
		min-width: 7em;
	}
	th.editablegrid-project_name,
	td.editablegrid-project_name { /* for project lists */
		text-align: left;
	}
}


@media screen and (max-device-width:480px) {
	th.editablegrid-project_number,
	td.editablegrid-project_number  {
		display: none;
	}
			
	th.editablegrid-project_shortname,
	td.editablegrid-project_shortname {
		text-align: left;
		min-width: 9em;
	}

	th.editablegrid-task_id,
	td.editablegrid-task_id  {
		text-align: left;
		min-width: 6em;
	}

	th.editablegrid-description,
	td.editablegrid-description {
		text-align: left;
		min-width: 16em;
	}

	th.editablegrid-description-wide,
	td.editablegrid-description-wide  {
		text-align: left;
		min-width: 20em;
	}

	th.editablegrid-promiser,
	td.editablegrid-promiser {
		text-align: center;
		min-width: 10em;
	}

	th.editablegrid-requester,
	td.editablegrid-requester {
		display: none;
	}

	th.editablegrid-due_by,
	td.editablegrid-due_by {
		text-align: center;
		min-width: 6em;
	}

	th.editablegrid-status,
	td.editablegrid-status {
		text-align: center;
		min-width: 3em;
	}

	th.editablegrid-actions,
	td.editablegrid-actions {
		display: none;
	}

	th.editablegrid-project_number_2,
	td.editablegrid-project_number_2  { /* for project lists */
		text-align: left;
		min-width: 7em;
	}
	th.editablegrid-project_name,
	td.editablegrid-project_name { /* for project lists */
		text-align: left;
	}
}

.fa-files-o { /* duplicate */
	color: rgb(0, 0, 0);
}

.fa-minus-square-o { /* delete */
	color: rgb(192, 0, 0);
}

#commitments i,
#requests i,
#projects i { /* fontawesome icons */
  cursor: pointer;
}

#bar-top {
	margin-top: 8px;
	margin-bottom: 6px;
	width: 100%;
}

.paginator {
	text-align: right;
	font-size: 90%;
	padding: 0px;
	vertical-align: middle;
}

.paginator a{
	padding: 1 1;
	margin: 0 5;
}

a.nobg {  
	color: black;
	text-decoration: none;
	padding: 0px 2px; 
}
	
a.nobg:hover { color: #000; }

a.nobg:active, #currentpageindex { 
	background-color: rgb(192,0,0); 
	color: #fff; 
	border-radius: 3px;
	padding: 1 3;
	margin: 0 5;
}

a.nobg:focus { outline: 1px; }
   
/*form input:hover, form textarea:hover, form input:focus, form textarea:focus */
input, textarea { 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	padding: 6px;
	border: 1px solid rgb(200, 204, 179);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	line-height: normal;
	background-color: white;
}

.ui-widget { /*datepicker*/
font-size: .85em;
}

.dialog {
display: none;
}

.nav-pills>li>a {
padding: 7px 10px;
color: rgb(0,0,0);
background-color: rgb(228, 228, 228);
font-size: 12px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #fff;
background-color: rgb(165, 171, 129);
}

#new_com_btn {
color: rgb(0,0,0);
background-color: rgb(148, 182, 210);
}

.tooltip {
font-size: 11px;
line-height: 1.3;
}

.tooltip.in {
opacity: .95;
}

.tooltip-inner {
color: rgb(0,0,0);
text-align: left;
background-color: rgb(200, 204, 179);
}

.input-group-filter {
width: 150px;
margin: 0px 8px;
}

#horizon-slider {
width: 150px;
margin: 4px 8px;
}

#horizon-text {
text-align: left;
font-size: 12px;
margin: 0px 8px;
}

.ui-accordion,
.ui-accordion-content {
border: none;
background: none;
padding: 0 0;
margin: 0 0;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ui-accordion-header {
border: none;
background: none;
margin: 0 0;
padding: 0 0;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
height: 29px;
}

.ui-widget-content a {
}

#accordion-com {
background: rgb(165, 171, 129); /*olive 4*/
}

#accordion-req {
background: rgb(123, 167, 157); /*green 5*/
}

#accordion-proj {
background: rgb(148, 182, 210); /*ice blue*/
}

#com_total-above,
#req_total-above,
#proj_total-above,
#spacer-com_total-above,
#spacer-req_total-above,
#spacer-proj_total-above {
/*display: none;*/
}

.pg-size {
height: 25px;
padding: 0px, 0px;
}
}