/* custom CSS stylesheet for reliable commitment mgr */

h1,
.h1 { /* I just want text a bit smaller than default */
  font-size: 24px;
}
h2,
.h2 {
  font-size: 18px;
}
h3,
.h3 {
  font-size: 14px;
}
h4,
.h4 {
  font-size: 12px;
}
h5,
.h5 {
  font-size: 11px;
}
h6,
.h6 {
  font-size: 10px;
}

h1.padding-8px,
h2.padding-8px,
h3.padding-8px,
h4.padding-8px,
h5.padding-8px,
h6.padding-8px { /* for aligning page title text */
	padding: 8px;
}
 
.container>.navbar-header.margin-8px { /* for aligning header text */ 
margin-left: 8px;
margin-right: 8px;
}

.navbar-right {  /* for aligning header text */ 
padding-right: 0px;
}
 
.container>.navbar-collapse.margin-8px {  /* for aligning footer text */
margin-left: 8px;
margin-right: 8px;
padding-right: 0px;
padding-left: 0px;
}

.navbar-text {  /* for aligning footer text */
margin-left: 0px;
}

.ghost /* for table rows > one week out */
{
  background-color: #FFFFFF;
  color: #848484;
}

.secondary /* for 'secondary' table rows where two rows are stacked in a cell */
{
  padding: 0px;
  line-height: 1.0;
  font-size: 10px;
}

.flash-green {
    background-color: green;
	display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.flash-red {
    background-color: red;
	display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* 
 * this CSS is not part of the widget, it is here just as an example of the demo page styling.... 
 * 
 * Don't copy this one, roll your own. One of the key things about the widget is that 
 * it allows you to do your own styling!
 *
 */
td:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;	
	outline: rgb(91, 157, 217) auto 5px;
}
input.error {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;	
	outline: thin auto red;
}
input {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;	
	outline: rgb(91, 157, 217) auto 5px;
	outline-offset: 0px;
	border: none;
}
#mainTable thead th, #mainTable tbody td { 
  width: 25%;
}
#mainTable td + td, #mainTable th + th {
	text-align: right;
}
table.scrollable thead tr, table.scrollable tfoot tr  {
	position: relative;
	display: block
}

html>body table.scrollable tbody {
	display: block;
	height: 330px;
	overflow: auto;
	width: 100%
}

html>body table.scrollable td, html>body table.scrollable th {
	width: 200px
}


