		<div id="delete-confirm" class="dialog" title="Delete commitment?" data-role="dialog"> 
			<div data-role="content" id="text">
				<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><h4>Commitments should only be deleted if they were added by mistake. Deleting them cannot be undone. Are you sure?</h4></p>
			</div>
		</div>
		
		<div id="add-commitment" class="dialog" title="commitment modal" data-role="dialog">
			<form class='form-horizontal' id='comm_form'>
				<p class="form-control-static" id='msg-general'></p>
				
				<div class="control-group">
					<label class="control-label" for="inp-proj">Project</label>
					<div class="controls">
						<select class="input-sm" id="inp-proj" name="projectnumber" style="width: 270px" tabindex=1>
						</select>
					</div>
				</div>
				
				<div class="control-group">
						<div class='nopadding'>
							<div class='col-md-9 nopadding'>
								<label class="control-label" for="inp-comm">Description</label>
							</div>
							<div class='col-md-3 nopadding'>
								<label class='control-label' id='inp-comm-count'></label>
							</div>
						</div>

					<div class="controls">
						<textarea class="form-control input-sm" id="inp-comm" name="description" style="width: 100%" placeholder="Describe what work products will be given to whom, in what form, by what method & at what level of completion." rows="5" tabindex=2></textarea>
					</div>
					<p class="form-control-static" id='msg-description'></p>
				</div>

				<div class="control-group">
					<label class="control-label" for="inp-req">Requester</label>
					<div class="controls">
						<select class="input-sm" id="inp-req" name="requester" style="width: 270px" tabindex=3>
						</select>
					</div>
					<p class="form-control-static" id='msg-requester'></p>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="inp-prom">Promiser(s)</label>
					<div class="controls">
						<select class="input-sm" id="inp-prom" name="promiser" style="width: 270px" multiple tabindex=4>
						</select>
					</div>
					<p class="form-control-static" id='msg-promiser'>If promiser = requester, this will be personal workplan item.</p>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="inp-due">Date Due</label>
					<div class="controls">
						<input type="text" class="input-sm" id="inp-due" name="date_due" style="width: 270px" tabindex=5>
					</div>
					<p class="form-control-static" id='msg-date-due'></p>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="inp-stat">Status</label>
					<div class="controls">
						<select class="input-sm" id="inp-stat" name="status" style="width: 270px" tabindex=6>
							<option value="OH">open: high priority</option>
							<option value="O" selected>open</option>
							<option value="C">closed</option>
							<option value="D">deferred</option>
							<option value="?">unknown</option>
						</select>
					</div>
				</div>
			</form>			
		</div>
	
<script type="text/javascript">		
	$("#delete-confirm").dialog({
		resizable: false,
		autoOpen: false,
		height:180,
		modal: true,
		position: {my: "center", at: "center", of: window},
		buttons: {
			"Delete": function() {
				$(this).dialog("close");
				$(this).data('commitmentgrid').DeleteRow($(this).data('rowIndex'));
			},
			Cancel: function() {
				$(this).dialog("close");
			}
		}
	});
	
	$("#add-commitment").dialog({
		resizable: true,
		autoOpen: false,
		width: 300,
		modal: true,
		closeOnEscape: false, 
		position: {my: "center", at: "center", of: window},
		open: function( event, ui ) {
			// format modal for replanned or duplicated commitments
			if ($('#add-commitment').data('replan') == 1 || $('#add-commitment').data('duplicate') == 1) {
				oldRowValues = $(this).data('oldRowValues');
				$('[id^=msg]').show();
	console.log($(this).data('replan')+" "+$(this).data('duplicate'));			
				$('#inp-proj').empty().append($("<option>").val(oldRowValues['project_number'])
				.html(oldRowValues['project_shortname']).attr('selected', true)).selectmenu('refresh');

				$('#msg-general').html($('#add-commitment').data('msg-general'));
				$('#inp-comm').val(oldRowValues['description']);
				
				if ($('#add-commitment').data('replan') == 1) {
					$('#msg-description').html($('#add-commitment').data('msg-description'));
					$('#msg-date-due').html($('#add-commitment').data('msg-date-due'));
					oneweekout = moment().add(7, 'days').format('YYYY-MM-DD');
		console.log(oneweekout);
					$('#inp-due').datepicker('setDate', oneweekout);
				}
				else if ($('#add-commitment').data('duplicate') == 1) {// duplicate
					//olddate = moment(oldRowValues['due_by']).format('YYYY-MM-DD');
					$('#inp-due').datepicker('setDate', oldRowValues['due_by']);
					$('#msg-date-due').hide();
					$('#msg-description').hide();
				}
				
				$.ajax({
					url: '../includes/load_project_usernames.php',
					type: 'POST',
					dataType: 'JSON',
					data: {p: oldRowValues['project_number']},
					success: function (proj_users) {

						$('#inp-req').selectmenu('enable').empty();
						populate_select_names("#inp-req", proj_users);
						$('#inp-req').val(oldRowValues['requester']).selectmenu('refresh');
						
						$('#inp-prom').selectmenu('enable').empty();
						populate_select_names("#inp-prom", proj_users);
						$('#inp-prom').val(oldRowValues['promiser']).selectmenu('refresh');
					},
					error: function(XMLHttpRequest, textStatus, exception) { 
						alert("Ajax FAIL!\n" + "\nTextstatus: " + textStatus + "\nException: " + exception);},
					async: true
				});
			}
			// format modal for new commitments
			else {
				$('[id^=msg]').hide();
				$('#inp_req').empty().append($('<option>', {value: 'placeholder', selected: true, disabled: true, hidden:true}).text(''));
				$('#inp_prom').empty().append($('<option>', {value: 'placeholder', selected: true, disabled: true, hidden:true}).text(''));
			}
		},
		buttons: {
			"Submit": function() {
				var data = {};
				$.each($('#comm_form').serializeArray(), function(i, field) {
					data[field.name] = field.value;
				});
				$(this).dialog("close");
				if ($('#add-commitment').data('replan') == 1) { // if replanning a replannable task, we update the old task's variance now
					updateCellValue($('#add-commitment').data('commitmentgrid'), $('#add-commitment').data('rowIndex'), $('#add-commitment').data('columnIndex'), 
					$('#add-commitment').data('oldValue'), $('#add-commitment').data('newValue'));
					data['replan'] = oldRowValues['task_id'];
				}
				commitments.AddRow(data);
				$('#add-commitment').data('replan', null);
				$('#add-commitment').data('duplicate', null);
				$('#inp_req').empty().append($('<option>', {value: 'placeholder', selected: true, disabled: true, hidden:true}).text(''));
				$('#inp_prom').empty().append($('<option>', {value: 'placeholder', selected: true, disabled: true, hidden:true}).text(''));
				$('#comm_form').trigger('reset');
			},
			"Submit+": function() {
				var data = {};
				$.each($('#comm_form').serializeArray(), function(i, field) {
					data[field.name] = field.value;
				});
				$(this).dialog("close");
				if ($('#add-commitment').data('replan') == 1) { // if replanning a replannable task, we update the old task's variance now
					updateCellValue($('#add-commitment').data('commitmentgrid'), $('#add-commitment').data('rowIndex'), $('#add-commitment').data('columnIndex'), 
					$('#add-commitment').data('oldValue'), $('#add-commitment').data('newValue'));
					data['replan'] = oldRowValues['task_id'];
				}
				data['recordanother'] = 1; //triggers AddRow function to request reopen the modal for another new commitment
				commitments.AddRow(data);
				$('#add-commitment').data('replan', null);
				$('#add-commitment').data('duplicate', null);
			},
			Cancel: function() {
				$(this).dialog("close");
		
				if ($('#add-commitment').data('replan') == 1) { // user cancels suggestion to replan -> we conclude that variance was 8, 'not needed.'
					updateCellValue($('#add-commitment').data('commitmentgrid'), $('#add-commitment').data('rowIndex'), $('#add-commitment').data('columnIndex'), 
					$(this).data('oldValue'), 'V8');
					$('#add-commitment').data('replan', null);
					$('#add-commitment').data('duplicate', null);
				}
				$('#inp_req').empty().append($('<option>', {value: 'placeholder', selected: true, disabled: true, hidden:true}).text(''));
				$('#inp_prom').empty().append($('<option>', {value: 'placeholder', selected: true, disabled: true, hidden:true}).text(''));
				$('#comm_form').trigger('reset');
			}
		},
	});
	
	$("#new_com_btn").on("click", function() {
		$("#add-commitment")
			.data('replan', 0)
			.dialog({
				show: { effect: "puff", duration: 150},
				height: 550,
				title: 'Record New Commitment'
			})
			.dialog("open"); 
	});
	
	$("#inp-due").datepicker({
		dateFormat: $.datepicker.W3C,
		numberOfMonths: 2,
		showAnim: 'puff'
	});
	
	$("#inp-comm").keyup(function(){
		len = $(this).val().length;
		if (len > 410) $("#inp-comm-count").text(510-$(this).val().length);
		else $('#inp-desc-count').text('');
		
		if (len > 510) $('#inp-comm-count').addClass('len_error');
		else $('#inp-comm-count').removeClass('len_error');
	});

	$("#inp-proj").selectmenu({
		nativeMenu: false});
	$("#inp-req").selectmenu({
		nativeMenu: false});
	$("#inp-prom").selectmenu({
		nativeMenu: false});
	$("#inp-stat").selectmenu({
		nativeMenu: false});
</script>