		<div id="delete-confirm" class="dialog" title="Delete commitment?" data-role="dialog"> 
			<div data-role="content" id="text">
				<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><h4>Commitments should only be deleted if they were added by mistake. Deleting them cannot be undone. Are you sure?</h4></p>
			</div>
		</div>
		
		<div id="add-commitment" class="dialog" title="Record New Commitment" data-role="dialog">
			<form class='form-horizontal' id='comm_form'>
				<p class="form-control-static" id='msg-general'></p>
				
				<div class="control-group">
					<label class="control-label" for="inp-proj">Project</label>
					<div class="controls">
						<select class="input-sm" id="inp-proj" name="projectnumber" style="width: 200px" tabindex=1>
						</select>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="inp-comm">Description</label>
					<div class="controls">
						<textarea class="form-control input-sm" id="inp-comm" name="description" placeholder="Describe what work products will be given to whom, in what form, by what method & at what level of completion." rows="5" tabindex=2></textarea>
					</div>
					<p class="form-control-static" id='msg-description'></p>
				</div>

				<div class="control-group">
					<label class="control-label" for="inp-req">Requester</label>
					<div class="controls">
						<select class="input-sm" id="inp-req" name="requester" style="width: 200px" tabindex=3>
						</select>
					</div>
					<p class="form-control-static" id='msg-requester'></p>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="inp-prom">Promiser(s)</label>
					<div class="controls">
						<select class="input-sm" id="inp-prom" name="promiser" style="width: 200px" multiple tabindex=4>
						</select>
					</div>
					<p class="form-control-static" id='msg-promiser'>If promiser = requester, this will be personal workplan item.</p>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="inp-due">Date Due</label>
					<div class="controls">
						<input type="text" class="input-sm" id="inp-due" name="date_due" style="width: 200px" tabindex=5>
					</div>
					<p class="form-control-static" id='msg-date-due'></p>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="inp-stat">Status</label>
					<div class="controls">
						<select class="input-sm" id="inp-stat" name="status" style="width: 200px" tabindex=6>
							<option value="OH">open: high priority</option>
							<option value="O" selected>open</option>
							<option value="C0">closed</option>
							<option value="D">deferred</option>
							<option value="?">unknown</option>
						</select>
					</div>
				</div>
			</form>			
		</div>
	
<script type="text/javascript">		
	$("#delete-confirm").dialog({
		resizable: false,
		autoOpen: false,
		height:180,
		modal: true,
		position: {my: "center", at: "center", of: window},
		buttons: {
			"Delete": function() {
				$(this).dialog("close");
				$(this).data('commitmentgrid').DeleteRow($(this).data('rowIndex'));
			},
			Cancel: function() {
				$(this).dialog("close");
			}
		}
	});
	
	$("#add-commitment").dialog({
		resizable: true,
		autoOpen: false,
		height: 550,
		width: 300,
		modal: true,
		position: {my: "center", at: "center", of: window},
		open: function( event, ui ) {
			replan = 0;
			if ($(this).data('replan') == 1) {
				oldRowValues = $(this).data('oldRowValues');
				$('#msg-general').html($(this).data('msg-general'));
				$('#msg-description').html($(this).data('msg-description'));
				$('#msg-date-due').html($(this).data('msg-date-due'));
				$("#inp-proj").filter('[value='+oldRowValues['project_number']+']').prop('selected', true);
				$('#inp-comm').val(oldRowValues['description']);
				$('#inp-req').filter('[value='+oldRowValues['requester']+']').prop('selected', true);
				$('#inp-prom').filter('[value='+oldRowValues['promiser']+']').prop('selected', true);
				// todo: preset other parameters
			}
			else $('[id^=msg]').hide();
			
			$('#inp-due').datepicker('setDate', +7);
		},
		buttons: {
			"Submit": function() {
				var data = {};
				$.each($('#comm_form').serializeArray(), function(i, field) {
					data[field.name] = field.value;
				});
				$(this).dialog("close");
				if ($(this).data('replan' == 1)) { // if replanning a replannable task, we update the old task's variance now
					updateCellValue($(this).data('commitmentgrid'), $(this).data('rowIndex'), $(this).data('columnIndex'), 
					$(this).data('oldValue'), $(this).data('newValue'));
					data['replan'] = oldRowValues['task_id'];
				}
				commitments.AddRow(data);
			},
			"Submit+": function() {
				var data = {};
				$.each($('#comm_form').serializeArray(), function(i, field) {
					data[field.name] = field.value;
				});
				if ($(this).data('replan' == 1)) { // if replanning a replannable task, we update the old task's variance now
					updateCellValue($(this).data('commitmentgrid'), $(this).data('rowIndex'), $(this).data('columnIndex'), 
					$(this).data('oldValue'), $(this).data('newValue'));
					data['replan'] = oldRowValues['task_id'];
				}
				commitments.AddRow(data);
				$(this).data = {};
				$(this).dialog("close").delay(700).dialog("open");
			},
			Cancel: function() {
				$(this).dialog("close");
				if ($(this).data('replan' == 1)) { // if user cancels suggestion to replan a replan-worthy task, we conclude that its variance was 8, not needed.
					updateCellValue($(this).data('commitmentgrid'), $(this).data('rowIndex'), $(this).data('columnIndex'), 
					$(this).data('oldValue'), 'V8');
				}
			}
		},
	});
	
	$("#new_com_btn").on("click", function() {
		$("#add-commitment")
			.data('replan', 0)
			.dialog({show: { effect: "puff", duration: 150 }})
			.dialog("open"); 
	});
	
	$("#inp-due").datepicker({
		dateFormat: $.datepicker.W3C,
		numberOfMonths: 2,
		gotoCurrent: true,
		showAnim: 'puff'
	});

	$("#inp-proj").selectmenu();
	$("#inp-req").selectmenu();
	$("#inp-prom").selectmenu();
	$("#inp-stat").selectmenu();
	
// 	chosen({
//		disable_search_threshold: 10,
//		placeholder_text_single: "Pick one",
//		search_contains: true,
//		width: 250
//	});
	
//	chosen({
//		disable_search_threshold: 10,
//		placeholder_text_single: "Pick one",
//		search_contains: true,
//		width: 250
//	});
	
//	chosen({
//		disable_search_threshold: 10,
//		placeholder_text_multiple: "Pick one or more",
//		search_contains: true,
//		width: 250
//	});

//	chosen({
//		width: 250
//	});
</script>