<!DOCTYPE html public>

<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="reliablepromising, a web-hosted commitment tracking system for individuals and teams.">
		<meta name="keywords" content="reliable, reliability, promising, lean, last planner system, commitment, project management, team">
		<meta name="author" content="Todd Henderson">
		
		<link href="../favicon.ico" rel="shortcut icon" type="image/x-icon"/>
		
		<!-- load CSS -->
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<!-- <link rel="stylesheet" href="../public/extensions/autocomplete/autocomplete.css" type="text/css"> -->
		<link rel="stylesheet" href="../public/css/reliable_stylesheet.css" type="text/css"/>
		
		<!-- load JS -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
		<!--Resolve name collision between jQuery UI and Twitter Bootstrap-->
		<script $.widget.bridge('uitooltip', $.ui.tooltip);></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../public/js/moment.min.js"></script>
		<!-- <script src="extensions/autocomplete/autocomplete.js" ></script> -->

        <title>reliable promising</title>
	
		<header class="navbar navbar-default" id="top" role="navigation">
			<div class="container-fluid wrap">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<a href="../" class="navbar-brand"><strong>r e l i a b l e &nbsp;&nbsp; p r o m i s i n g</strong></a>
				</div>
				<nav class="collapse navbar-collapse" id="collapse" role="navigation">
					<ul class="nav navbar-nav">
						<li></li>
						<li><a href="../index.php">home</a></li>
						<li class="disabled"><a href="settings.php"><span class="glyphicon glyphicon-wrench"></span></a></li>
						<li><a href="../public/logout.php">logout</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<?php
						if (empty($_SESSION["username"]))
						{ ?>
							<li class="navbar-text navbar-right">guest</li>
						<?php
						}
						else
						{ ?>
							<li class="navbar-text navbar-right">logged in as <strong><?php echo $_SESSION["username"];?></strong></li>
						<?php
						} ?>
					</ul>
				</nav>
			</div>
		</header>
	</head>