<header>
	<nav class="navbar navbar-default" id="top" role="navigation">
		<div class="container-fluid wrap">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#rp-navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="../" class="navbar-brand"><strong>reliable promising</strong></a>
			</div>
			
			<div class="collapse navbar-collapse" id="rp-navbar">
				<form class='navbar-form navbar-left'>
					<button id="new_com_btn" type="button" class="btn btn-default navbar-btn btn-sm"> new </button>
					<div class="input-group input-group-filter">
						<input class="form-control input-sm" type="text" id="filter_all" placeholder="filter" name="filter"/>
					</div>
					<div class="form-group" id="nav-horizon">
						<div id="horizon-slider"></div>
						<div id="horizon-text">lookahead</div>
					</div>
					
				</form>
				<ul class="nav navbar-nav navbar-right">
					<?php
					if (empty($_SESSION["username"]))
					{ ?>
						<li class="navbar-text">guest</li>
					<?php
					}
					else
					{ ?>
						<li class="navbar-text"><?php echo $_SESSION["username"];?></li>
					<?php
					} ?>
					<li>
						<div class="dropdown">
						  <button class="btn navbar-btn btn-default btn-small dropdown-toggle" type="button" id="preferences" data-toggle="dropdown" aria-expanded="true">
							<span class="glyphicon glyphicon-wrench"></span>
							<span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu" aria-labelledby="preferences">
							<li role="presentation" class="dropdown-header">commitment filters</li>
							<li>
								<div class="checkbox">
									<label>
										<input id="show-closed" type="checkbox">&nbsp;show closed
									</label>
								</div>
							</li>
							<li>
								<div class="checkbox">
									<label>
										<input id="show-deferred" type="checkbox">&nbsp;show deferred
									</label>
								</div>
							</li>
							<li>
								<div class="checkbox">
									<label>
										<input id="show-personal" type="checkbox">&nbsp;show personal
									</label>
								</div>
							</li>
							<li role="presentation" class="dropdown-header">show/hide columns</li>
							<li>
								<div class="checkbox">
									<label>
										<input id="show-id" type="checkbox">&nbsp;show task ID
									</label>
								</div>
							</li>
							<li>
								<div class="checkbox">
									<label>
										<input id="show-imp" type="checkbox">&nbsp;show priority
									</label>
								</div>
							</li>
							<li>
								<div class="checkbox">
									<label>
										<input id="show-mag" type="checkbox">&nbsp;show magnitude
									</label>
								</div>
							</li>
							<li >
								<div class="checkbox">
									<label>
										<input id="show-time" type="checkbox">&nbsp;show timeline
									</label>
								</div>
							</li>
						  </ul>
						</div>
					</li>
					
					<li><a href="../public/logout.php">logout</a></li>
				</ul>
			</div> <!--navbar-->
		</div> <!--container-->
	</nav>
</header>

<script type="text/javascript">	
function configurePrefs() {
	prefs = loadPrefs();
	
	// configure column per initial filter values
	x = prefs['pref_show_id'] == '1' ? true : false;
	$('#show-id').prop('checked', x);
	//$('.editablegrid-task_id').toggle(x);

	x = prefs['pref_show_imp'] == '1' ? true : false;
	$('#show-imp').prop('checked', x);
	//$('.editablegrid-priority_h').toggle(x);

	x = prefs['pref_show_mag'] == '1' ? true : false;
	$('#show-mag').prop('checked', x);
	//$('.editablegrid-magnitude').toggle(x);
	
	x = prefs['pref_show_timeline'] == '1' ? true : false;
	$('#show-time').prop('checked', x);
	
	// configure watchers
	$('#show-id').change(function() {
		x = $('#show-id').prop('checked');
		updatePrefs('pref_show_id', x);
		$('.editablegrid-task_id').toggle(x);
	});
	
	$('#show-imp').change(function() {
		x = $('#show-imp').prop('checked');
		updatePrefs('pref_show_imp', x);
		$('.editablegrid-priority_h').toggle(x);
	});
	
	$('#show-mag').change(function() {
		x = $('#show-mag').prop('checked');
		updatePrefs('pref_show_mag', x);
		$('.editablegrid-magnitude').toggle(x);
	});
	
	$('#show-time').change(function() {
		x = $('#show-time').prop('checked');
		updatePrefs('pref_show_timeline', x);
		load_comms();
	});
};
};
</script>
