<!DOCTYPE html public>

<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="reliablepromising, a web-hosted commitment tracking system for individuals and teams.">
		<meta name="keywords" content="reliable, reliability, promising, lean, last planner system, commitment, project management, team">
		<meta name="author" content="Todd Henderson">
		
		<link href="./favicon.ico" rel="shortcut icon" type="image/x-icon"/>
		
		<!-- load CSS files -->
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="./public/extensions/autocomplete/autocomplete.css" type="text/css">
		<link rel="stylesheet" href="./public/css/reliable_stylesheet.css" type="text/css"/>
		<link rel="stylesheet" href="./public/css/tooltipster.css" type="text/css" />
		
		<!-- load jquery, bootstrap, tooltipster files -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<!-- <script src="extensions/autocomplete/autocomplete.js" ></script> -->
		<script type="text/javascript" src="./public/js/jquery.tooltipster.min.js"></script>
		<script type="text/javascript" src="./public/js/moment.min.js"></script>

        <title>reliable promising</title>
	
		<header class="navbar navbar-default" id="top" role="navigation">
			<div class="container-fluid wrap">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<a href="../" class="navbar-brand"><strong>r e l i a b l e &nbsp;&nbsp; p r o m i s i n g</strong></a>
				</div>
				<nav class="collapse navbar-collapse" id="collapse" role="navigation">
					<ul class="nav navbar-nav">
						<li></li>
						<li><a href="../public/index.php">home</a></li>
						<li class="disabled"><a href="settings.php"><span class="glyphicon glyphicon-wrench"></span></a></li>
						<li><a href="../public/logout.php">logout</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<?php
						if (empty($_SESSION["username"]))
						{ ?>
							<li class="navbar-text navbar-right">guest</li>
						<?php
						}
						else
						{ ?>
							<li class="navbar-text navbar-right">logged in as <strong><?php echo $_SESSION["username"];?></strong></li>
						<?php
						} ?>
					</ul>
				</nav>
			</div>
		</header>

		<script type="text/javascript"> // activate tooltip
			$(document).ready(function() {
				$('.tooltip').tooltipster();
				$('th.editablegrid-project_number').tooltipster({
                content: $('<span>The specific project that the work contributes to.</span>')});
				
				$('th.editablegrid-task_id').tooltipster({
                content: $('<span>Unique ID for the request. Not editable.</span>')});
				
				$('th.editablegrid-description').tooltipster({
                content: $('<span>Descibe what work products shall be handed-off to whom in \
					what form, via what method & at what level of completion.</span>')});
				
				$('th.editablegrid-promiser').tooltipster({
                content: $('<span>Select the person who is promising the work described.</span>')});
				
				$('th.editablegrid-requester').tooltipster({
                content: $('<span>Select the person who is asking \
					for the work described. If the promiser = the requester, this will be considered a \
					personal workplan item and may not appear on the team workplan.</span>')});
					
				$('th.editablegrid-due_by').tooltipster({
                content: $('<span>Select the date when the work product described be handed-off.</span>')});
				
				$('th.editablegrid-status').tooltipster({
                content: $('<span>Open: Commitment is not complete. \n\
					Closed: The requester is satisfied that the promiser has met the commitment described. \n\
					In Progress: Work on the request has begun but is incomplete. \n\
					Deferred: The request is set aside indefinitely. \n\
					Unknown: The promiser and/or requester are not available to status the commitment.</span>')});
					
				$('th.editablegrid-metric').tooltipster({
                content: $('<span>Overdue, complete, anticipated, improvised.</span>')});
				
				$('.editablegrid-actions').tooltipster({
                content: $('<span>Delete or duplicate. Note: \
					Only delete a commitment if it is truly messed-up. Otherwise, its status and/or variance should be entered.</span>')});
				
			});
		</script>
	</head>