<header>
	<nav class="navbar navbar-default" id="top" role="navigation">
		<div class="container-fluid wrap">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#rp-navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="../" class="navbar-brand"><strong>reliable promising</strong></a>
			</div>
			
			<div class="collapse navbar-collapse" id="rp-navbar">
				<form class='navbar-form navbar-left'>
					<button id="new_com_btn" type="button" class="btn btn-default navbar-btn btn-sm">new commitment</button>
					<div class="input-group input-group-filter">
						<input class="form-control input-sm" type="text" id="filter_all" placeholder="filter" name="filter"/>
					</div>
					<div class="form-group" id="nav-horizon">
						<div id="horizon-slider"></div>
						<div id="horizon-text">lookahead</div>
					</div>
					<div class="checkbox">
						<label>
							<input id="show-closed" type="checkbox">&nbsp;show closed
						</label>
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<?php
					if (empty($_SESSION["username"]))
					{ ?>
						<li class="navbar-text">guest</li>
					<?php
					}
					else
					{ ?>
						<li class="navbar-text">hi, <strong><?php echo $_SESSION["username"];?></strong></li>
					<?php
					} ?>
					<li class="disabled"><a href="settings.php"><span class="glyphicon glyphicon-wrench"></span></a></li>
					<li><a href="../public/logout.php">logout</a></li>
				</ul>
			</div> <!--navbar-->
		</div> <!--container-->
	</nav>
</header>