	</head>
	<body>
		<?php require 'dialogs.html'; ?>
		<div class="container-fluid nopadding" id='accordion-com'>
			<div class='col-sm-12'>
				<form class='form-inline'>
					<div><h3><strong>YOUR COMMITMENTS</strong></h3></div>
					<div class="spacer" id='spacer-com_total-above'>&nbsp;&nbsp;|&nbsp;&nbsp;</div>
					<div id="com_total-above">total: <i class='fa fa-spinner fa-spin'></i></div>
				</form>
			</div>
			<div class="container-fluid">
				<div id="commitments">
					<div class="col-sm-12"><br><br><br><i class='fa fa-spinner fa-spin fa-2x text-center'></i><br><br><br></div>
				</div>
				<div>
					<form class='form-inline'>
						<div class="form-group" id="com_total">total: <i class='fa fa-spinner fa-spin'></i></div>
						<div class="form-group spacer">&nbsp;&nbsp;|&nbsp;&nbsp;page size:&nbsp;</div>
						<div class="form-group">
							<div class="controls">
								<select class="input-sm pg-size" id="comm_page_size" onchange="commitments.grid.setPageSize('commitmentsPageSize', this.value)">
									<option value=5>5</option>
									<option value=10 selected>10</option>
									<option value=25>25</option>
									<option value=50>50</option>
									<option value=0>all</option>
								</select>
							</div>
						</div>
						<div class="form-group paginator" id="commitments_paginator"></div>
					</form>
				</div>
			</div>
		</div>
		
		<br>
		
		<div class="container-fluid nopadding" id='accordion-req'>
			<div class="col-sm-12">
				<form class='form-inline'>
					<div class='form-group'><h3><strong>YOUR REQUESTS</strong></h3></div>
					<div class="form-group spacer" id='spacer-req_total-above'>&nbsp;&nbsp;|&nbsp;&nbsp;</div>
					<div class="form-group" id="req_total-above">total: <i class='fa fa-spinner fa-spin'></i></div>
				</form>
			</div>
			<div class="container-fluid">
				<div id="requests">
					<div class="col-sm-12"><br><br><br><i class='fa fa-spinner fa-spin fa-2x text-center'></i><br><br><br></div>
				</div>
				<div>
					<form class='form-inline'>
						<div class="form-group" id="req_total">total: <i class='fa fa-spinner fa-spin'></i></div>
						<div class="form-group spacer">&nbsp;&nbsp;|&nbsp;&nbsp;page size:&nbsp;</div>
						<div class="form-group">
							<div class="controls">
								<select class="input-sm pg-size" id="req_page_size" onchange="requests.grid.setPageSize('requestsPageSize', this.value)">
									<option value=5>5</option>
									<option value=10 selected>10</option>
									<option value=25>25</option>
									<option value=50>50</option>
									<option value=0>all</option>
								</select>
							</div>
						</div>
						<div class="form-group paginator" id="requests_paginator"></div>
					</form>
				</div>
			</div>
		</div>
		<br>

		<div class="container-fluid">
			<div class="nopadding"><h3><strong>PROJECTS</strong></h3></div>
			
			<div id="user_projects">
				<br><br><br><i class='fa fa-spinner fa-spin text-center'></i>
			</div>
			
			<form class='form-inline'>
				<div class="form-group" id="proj_total">total: <i class='fa fa-spinner fa-spin'></i></div>
				<div class="form-text spacer">&nbsp;&nbsp;page size:&nbsp;</div>
				<div class="form-group">
					<div class="controls">
						<select class="input-sm pg-size" id="proj_page_size" onchange="projects.setPageSize('projectsPageSize', this.value)">
							<option value=5 selected>5</option>
							<option value=10>10</option>
							<option value=25>25</option>
							<option value=50>50</option>
							<option value=0>all</option>
						</select>
					</div>
				</div>
				<div class="form-group paginator" id="projects_paginator"></div>
			</form>
		</div>
			
		<script src="./public/js/editablegrid.js"></script>
		<script src="./public/js/editablegrid_renderers.js" ></script>
		<script src="./public/js/editablegrid_editors.js" ></script>
		<script src="./public/js/editablegrid_validators.js" ></script>
		<script src="./public/js/editablegrid_utils.js" ></script>
		<!--<script src="./public/js/editablegrid_charts.js" ></script>-->
		<script src="./public/js/reliable.js" ></script>		
	</body>
	
	<script type="text/javascript">
		window.onload = function() {
			
			// load commitments
			commitments = new CommitmentGrid('commitments');
			requests = new CommitmentGrid('requests');
			load_comms = function (horizon, showClosed) {
				if (typeof(horizon) === 'undefined') {
					hor = getCookie('horizon');
					horizon = (parseInt(hor, 10) != 'NaN') ? hor : (hor == 'all' ? 'all' : 21);
				}
				
				if (typeof(showClosed)==='undefined') showClosed = (getCookie('showClosed') == 'true' ? true : false);
				
				$('#show-closed').prop('checked', showClosed);
				
				setCookie('horizon', horizon);
				setCookie('showClosed', showClosed);
				
				// load user commitments
				$.ajax({
					url: '../includes/load_user_commitments.php',
					type: 'POST',
					dataType: "text",
					data: {
						horizon: horizon,
						showClosed: showClosed,
						p_or_r: 'promises'
					},
					success: function (response) 
					{
						commitments.grid.loadXMLFromString(response); //synchronous function
						commitments.grid.tableLoaded();
						$('[id^=com_total]').html('total: <strong>'+commitments.grid.getTotalRowCount()+'</strong>');
					},
					error: function(XMLHttpRequest, textStatus, exception) 
					{ 
						alert("Ajax FAIL!\n" + "\nTextstatus: " + textStatus + "\nException: " + exception); 
					},
					async: true
				});

				// load user requests
				$.ajax({ 
					url: '../includes/load_user_commitments.php',
					type: 'POST',
					dataType: "text",
					data: {
						horizon: horizon,
						showClosed: showClosed,
						p_or_r: 'requests'
					},
					success: function (response) 
					{ //process response as xml, then call tableLoaded
						requests.grid.loadXMLFromString(response); //synchronous function
						requests.grid.tableLoaded();
						$('[id^=req_total]').html('total: <strong>'+requests.grid.getTotalRowCount()+'</strong>');
					},
					error: function(XMLHttpRequest, textStatus, exception) 
					{ 
						alert("Ajax FAIL!\n" + "\nTextstatus: " + textStatus + "\nException: " + exception); 
					},
					async: true
				});
			};
		
			// configure sliders & misc. stuff
			$('#accordion-com').accordion({
				heightStyle: 'content',
				collapsible: true,
				beforeActivate: function(event, ui) {
					$('#com_total-above').toggle();
					$('#com_total-spacer-above').toggle();
				}
			});
			
			$('#accordion-req').accordion({
				heightStyle: 'content',
				collapsible: true,
				beforeActivate: function(event, ui) {
					$('#req_total-above').toggle();
					$('#req_total-spacer-above').toggle();
				}
			});
			
			hor = getCookie('horizon');
			horizon = (parseInt(hor, 10) != 'NaN') ? hor : (hor == 'all' ? 'all' : 21);
			setCookie('horizon', horizon);
			var weeks = parseInt((horizon == 'all') ? 10 : horizon / 7);
			
			$('#horizon-slider').slider({
				min: 0,
				max: 10,
				step: 1,
				range: 'min',
				value: weeks,
				create: function(event, ui) {
					if (weeks < 1) $('#horizon-text').html('overdue only');
					else if (weeks < 10) $('#horizon-text').html('lookahead: '+weeks+' wk');
					else $('#horizon-text').html('lookahead: all');
				},
				slide: function(event, ui) {
					if (ui.value < 1) $('#horizon-text').html('overdue only');
					else if (ui.value < 10) $('#horizon-text').html('lookahead: '+ui.value+' wk');
					else $('#horizon-text').html('lookahead: all');
				},
				change: function( event, ui ) {
					if (ui.value < 1) {
						horizon = 0;
						$('#horizon-text').html('overdue only');
					}
					else if (ui.value < 10) {
						horizon = ui.value * 7;
						$('#horizon-text').html('lookahead: '+ui.value+' wk');
					}
					else {
						horizon = 'all';
						$('#horizon-text').html('lookahead: all');
					}
					load_comms(horizon);
				}
			});

			show_closed = getCookie('showClosed') == 'true' ? true : false;
			$('#show-closed').prop('checked', show_closed);
			setCookie('showClosed', show_closed);
			
			$('#show-closed').change(function() {
				load_comms(undefined, this.checked);
			});
				
			commPageSize = getCookie(commitments.name+'PageSize') || 10; 
			$('#comm_page_size').val(commPageSize);
			reqPageSize = getCookie(requests.name+'PageSize') || 10; 
			$('#req_page_size').val(reqPageSize);
			projPageSize = getCookie('projectsPageSize') || 10; 
			$('#proj_page_size').val(projPageSize);
			
			projects = new EditableGrid("Projects", {
				enableSort: true,
				dateFormat: "US",
				pageSize: projPageSize,
				tableRendered:  function() { 
					updatePaginator(this, "projects_paginator"); 
					$("#proj_total").html('total: <strong>'+projects.getTotalRowCount()+'</strong>');
				},
				tableLoaded: function() { 
					projects.setCellRenderer('project_number_2', new CellRenderer({ 
						render: function(cell, value) { 
							cell.innerHTML= "<a title=\"go to project page\" href=\"#\" onclick=\"goto_project_view("+value+"); return false;\">"+value+"</a>";
						}
					}));
					this.renderGrid('user_projects', 'table', 'projects'); }
			}); 
			
			commitments.grid.filter(""); //clear any leftover filtering
			requests.grid.filter("");
			projects.filter("");
				
			$("#filter_all").keyup(function() { //one filter to rule them all
 				commitments.grid.filter($(this).val());
				requests.grid.filter($(this).val());
				projects.filter($(this).val());
			});

			projects.loadXML("../includes/load_user_projects.php");
			load_comms(horizon, show_closed);
			
			// populate project list in New Commitment dialog, disable requester & promiser until project is selected & team members can be loaded
			$.ajax({
				url: '../includes/load_user_project_list.php',
				type: 'POST',
				dataType: 'JSON',
				success: function (user_proj_list) {
					//populate_select_projects("#inp-proj", user_proj_list);
					$.each(user_proj_list, function(key, object) {
						$("#inp-proj").append($("<option>").attr('value',object['project_number']).text(object['project_name']));
					});
				},
				error: function(XMLHttpRequest, textStatus, exception) { 
					alert("Ajax failure.\n" + "\nTextstatus: " + textStatus + "\nException: " + exception);},
				async: true
			});
			
			$('#inp-req').selectmenu('disable');
			$('#inp-prom').selectmenu('disable');
			
			// populate new commitment requester and promiser select menus with project team members
			$('#inp-proj').on("selectmenuselect", function( event, object ) 
			{
				$.ajax({
					url: '../includes/load_project_usernames.php',
					type: 'POST',
					dataType: 'JSON',
					data: { p: $('#inp-proj').val() },
					success: function (proj_users) {
						populate_select_names("#inp-req", proj_users);
						$('#inp-req').selectmenu('enable');
						populate_select_names("#inp-prom", proj_users);
						$('#inp-prom').selectmenu('enable');
					},
					error: function(XMLHttpRequest, textStatus, exception) { 
						alert("Ajax FAIL!\n" + "\nTextstatus: " + textStatus + "\nException: " + exception);},
					async: true
				});
			} );
		}; 
	</script>