	<body>
		<div class="container-fluid nopadding">
			<div class="col-sm-12"><h3><strong>YOUR COMMITMENTS</strong></h3></div>
		</div>
		
		<div class="container-fluid">
			
			<form class='form-inline'>
				<div class="form-group"><button id="new_com_btn" type="button" class="btn btn-default btn-sm">new commitment</button></div>
				<div class="input-group input-group-filter">
					<div class="input-group-addon"><i class='fa fa-filter'></i></div>
					<input class="form-control input-sm" type="text" id="filter_all" name="filter"/>
				</div>
				<div class="form-group spacer">&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<div class="form-group horizon-slider" id="comm-horizon-slider"></div>
				<div class="form-group" id="comm-horizon-text">&nbsp;lookahead</div>
				<div class="form-group spacer">&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<div class="checkbox">
					<label>
						<input id="show-closed" type="checkbox">&nbsp;show closed
					</label>
				</div>
			</form>

			<div id="commitments">
				<div class="col-sm-12"><br><br><br><i class='fa fa-spinner fa-spin fa-2x text-center'></i><br><br><br></div>
			</div>
			
			<form class='form-inline'>
				<div class="form-group" id="com_total">total: <i class='fa fa-spinner fa-spin'></i></div>
				<div class="form-group spacer">&nbsp;&nbsp;|&nbsp;&nbsp;page size:&nbsp;</div>
				<div class="form-group">
					<div class="controls">
						<select class="input-sm" id="comm_page_size" onchange="commitments.grid.setPageSize('commPageSize', this.value)">
							<option value=5>5</option>
							<option value=10 selected>10</option>
							<option value=25>25</option>
							<option value=50>50</option>
							<option value=0>all</option>
						</select>
					</div>
				</div>
				<div class="form-group spacer">&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<div class="form-group paginator" id="paginator"></div>
			</form>
		</div>
		<br>
		
		<div class="container-fluid nopadding">
			<div class="col-sm-12"><h3><strong>YOUR REQUESTS</strong></h3></div>
		</div>
		
		<div class="container-fluid">
			<table>
				<tr>
					<td class="col-sm-2 filter nopadding">
						<div class="input-group">
							<div class="input-group-addon"><i class='fa fa-filter'></i></div>
							<input class="form-control input-sm" type="text" id="filter_all_req" name="filter"/>
						</div>
					</td>
					<td class="col-sm-10"></td>
				</tr>
			</table>

			<div id="requests">
				<div class="col-sm-12"><br><br><br><i class='fa fa-spinner fa-spin fa-2x text-center'></i><br><br><br></div>
			</div>
			
			<form class='form-inline'>
				<div class="form-group" id="req_total">total: <i class='fa fa-spinner fa-spin'></i></div>
				<div class="form-group spacer">&nbsp;&nbsp;|&nbsp;&nbsp;page size:&nbsp;</div>
				<div class="form-group">
					<div class="controls">
						<select class="input-sm" id="req_page_size" onchange="requests.setPageSize('reqPageSize', this.value)">
							<option value=5>5</option>
							<option value=10 selected>10</option>
							<option value=25>25</option>
							<option value=50>50</option>
							<option value=0>all</option>
						</select>
					</div>
				</div>
				<div class="form-group spacer">&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<div class="form-group paginator" id="req_paginator"></div>
			</form>
		</div>
		<br>

		<div class="container-fluid">
			<div class="nopadding"><h3><strong>PROJECTS</strong></h3></div>
			
			<table>
				<tr>
					<td class="col-sm-2 filter nopadding">
						<div class="input-group">
							<div class="input-group-addon"><i class='fa fa-filter'></i></div>
							<input class="form-control input-sm" type="text" id="filter_all_proj" name="filter"/>
						</div>
					</td>
					<td class="col-sm-10"></td>
				</tr>
			</table>
			
			<div id="user_projects">
				<br><br><br><i class='fa fa-spinner fa-spin text-center'></i>
			</div>
			
			<form class='form-inline'>
				<div class="form-group" id="proj_total">total: <i class='fa fa-spinner fa-spin'></i></div>
				<div class="form-group spacer">&nbsp;&nbsp;|&nbsp;&nbsp;page size:&nbsp;</div>
				<div class="form-group">
					<div class="controls">
						<select class="input-sm" id="proj_page_size" onchange="projects.setPageSize('projPageSize', this.value)">
							<option value=5 selected>5</option>
							<option value=10>10</option>
							<option value=25>25</option>
							<option value=50>50</option>
							<option value=0>all</option>
						</select>
					</div>
				</div>
				<div class="form-group spacer">&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<div class="form-group paginator" id="projects_paginator"></div>
			</form>
		</div>
			
		<script src="./public/js/editablegrid.js"></script>
		<script src="./public/js/editablegrid_renderers.js" ></script>
		<script src="./public/js/editablegrid_editors.js" ></script>
		<script src="./public/js/editablegrid_validators.js" ></script>
		<script src="./public/js/editablegrid_utils.js" ></script>
		<!--<script src="./public/js/editablegrid_charts.js" ></script>-->
		<script src="./public/js/reliable.js" ></script>		

		<?php require 'dialogs.html'; ?>
	</body>
	
	<script type="text/javascript">
		window.onload = function() {
			
			// load commitments belonging to current user
			commitments = new CommitmentGrid();
			commitments.name = "user_commitments";
			
			load_user_comms = function (horizon, showClosed) {
				if (typeof(horizon) === 'undefined') horizon = (getCookie('horizon') || 21);
				if (typeof(showClosed)==='undefined') showClosed = (getCookie('showClosed') || false);
				
				if (showClosed==false) $('#show-closed').checked = false;
				else $('#show-closed').checked = true;
				
				setCookie('horizon', horizon);
				setCookie('showClosed', showClosed);
				
				$.ajax({
					url: '../includes/load_user_commitments.php',
					type: 'POST',
					dataType: "text",
					data: {
						horizon: horizon,
						showClosed: showClosed
					},
					success: function (response) 
					{
						commitments.grid.loadXMLFromString(response); //synchronous function
						commitments.grid.tableLoaded();
						$("#com_total").html('total: <strong>'+commitments.grid.getTotalRowCount()+'</strong>');
					},
					error: function(XMLHttpRequest, textStatus, exception) 
					{ 
						alert("Ajax FAIL!\n" + "\nTextstatus: " + textStatus + "\nException: " + exception); 
					},
					async: true
				});
			};
			
			if (typeof(horizon) === 'undefined') horizon = (getCookie('horizon') || 21);
			setCookie('horizon', horizon);
			weeks = (horizon == 'all') ? 10 : horizon / 7;
			
			$('#comm-horizon-slider').slider({
				min: 0,
				max: 10,
				step: 1,
				range: 'min',
				value: weeks,
				slide: function(event, ui) {
					if (ui.value < 10) $('#comm-horizon-text').html('&nbsp;lookahead: '+ui.value+' weeks');
					else $('#comm-horizon-text').html('&nbsp;lookahead: all');
				},
				change: function( event, ui ) {
					if (ui.value < 10) {
						horizon = ui.value * 7;
						$('#comm-horizon-text').html('&nbsp;lookahead: '+ui.value+' weeks');
					}
					else {
						horizon = 'all';
						$('#comm-horizon-text').html('&nbsp;lookahead: all');
					}
					
					load_user_comms(horizon);
				}
			});
			
			$('#show-closed').change(function() {
				load_user_comms(undefined, this.checked);
			});
			
			$('#show-closed').prop('checked', getCookie('showClosed'));
			console.log(getCookie('showClosed'));
				
			commPageSize = getCookie('commPageSize') || 10; 
			$('#comm_page_size').val(commPageSize);
			reqPageSize = getCookie('reqPageSize') || 10; 
			$('#req_page_size').val(commPageSize);
			projPageSize = getCookie('projPageSize') || 10; 
			$('#proj_page_size').val(commPageSize);
			
			requests = new EditableGrid("user_requests", {
				enableSort: true,
				editMode: 'static',
				dateFormat: "US",
				pageSize: reqPageSize,
				tableRendered:  function() { 
					updatePaginator(this, "req_paginator"); 
					$("#req_total").html('total: <strong>'+requests.getTotalRowCount()+'</strong>');
				},
				tableLoaded: function() {  
					requests.setCellRenderer('project_number', new CellRenderer({ 
						render: function(cell, value) { 
							cell.innerHTML= "<a title=\"go to project page\" href=\"#\" onclick=\"goto_project_view(\'"+value+"\'); return false;\">"+value+"</a>";
						}
					}));
					this.renderGrid('requests', 'table', 'commitments'); },
				modelChanged: function(rowIndex, columnIndex, oldValue, newValue, row) {
					updateCellValue(this, rowIndex, columnIndex, oldValue, newValue, row);
				}});
			
			$.ajax({
				url: '../includes/load_user_requests.php',
				type: 'POST',
				dataType: "text",
				data: {
					horizon: 21,
				},
				success: function (response) 
				{ //process response as xml, then call tableLoaded
					requests.loadXMLFromString(response); //synchronous function
					requests.tableLoaded();
				},
				error: function(XMLHttpRequest, textStatus, exception) 
				{ 
				alert("Ajax FAIL!\n" + "\nTextstatus: " + textStatus + "\nException: " + exception); 
				},
				async: true
			});
			
			projects = new EditableGrid("Projects", {
				enableSort: true,
				dateFormat: "US",
				pageSize: projPageSize,
				tableRendered:  function() { 
					updatePaginator(this, "projects_paginator"); 
					$("#proj_total").html('total: <strong>'+projects.getTotalRowCount()+'</strong>');
				},
				tableLoaded: function() { 
					projects.setCellRenderer('project_number_2', new CellRenderer({ 
						render: function(cell, value) { 
							cell.innerHTML= "<a title=\"go to project page\" href=\"#\" onclick=\"goto_project_view("+value+"); return false;\">"+value+"</a>";
						}
					}));
					this.renderGrid('user_projects', 'table', 'projects'); }
			}); 
			
			$("#filter_all").keyup(function() { //one filter to rule them all
 				commitments.grid.filter($(this).val());
				requests.filter($(this).val());
				projects.filter($(this).val());
			});

			projects.loadXML("../includes/load_user_projects.php");
			load_user_comms();
		}; 
	</script>